body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 16px; /* Increase font size */
}

.chat-container {
  width: 800px; /* Increase width */
  height: 580px;
  background-color: #fff;
  border-radius: 10px; /* Increase border radius */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Increase box shadow */
  overflow: hidden;
}

.chat-header {
  background-color: #007bff;
  color: #fff;
  padding: 15px; /* Increase padding */
  text-align: center;
  font-weight: bold;
  font-size: 20px; /* Increase font size */
}

.chat-body {
  padding: 30px; /* Increase padding */
  height: 400px; /* Increase height */
  overflow-y: auto;
}

.message {
  margin-bottom: 15px; /* Increase margin bottom */
}

.user-message {
  background-color: #f2f2f2;
  padding: 15px; /* Increase padding */
  border-radius: 10px; /* Increase border radius */
  word-wrap: break-word;
}

.bot-message {
  background-color: #007bff;
  color: #fff;
  padding: 15px; /* Increase padding */
  border-radius: 10px; /* Increase border radius */
  word-wrap: break-word;
  margin-bottom: 15px;
}

.input-container {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ddd;
}

.input-container input[type='text'] {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  outline: none;
  margin-right: 10px; /* Add margin to create space between text input and submit button */
}

.input-container input[type='submit'] {
  padding: 10px 25px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
